# see https://access.redhat.com/documentation/en-us/red_hat_openstack_platform/13/html/advanced_overcloud_customization/sect-controlling_node_placement

# set up for specific IP numbers for controllers, so that we can easily
# predict from the other overcloud, set up hosts, etc.
# note external_from_pool is dynamically generated
# also it needs an absolute path?!  not sure why the example doesn't
# show that
resource_registry:
  OS::TripleO::Controller::Ports::ExternalPort: {{ tripleo_heat_templates }}/network/ports/external_from_pool.yaml

parameter_defaults:
  ControllerSchedulerHints:
    'capabilities:node': 'controller-%index%'
  NovaComputeSchedulerHints:
    'capabilities:node': 'compute-%index%'

  ControllerIPs:
    external:
      - 10.0.10.12
      - 10.0.10.13
      - 10.0.10.14

